<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CandelCSS Image Component</title>
        <link rel="stylesheet" href="/assets/css/components.css" />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- IMAGE -->

        <section>
            <!-- RESPONSIVE IMAGE -->

            <div class="container">
                <img
                    class="image-responsive"
                    src="https://unsplash.com/photos/IUGQc0ak7c0/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQzMjI1NjEy&force=true&w=640"
                    alt="image-1"
                />
            </div>

            <!-- RESPONSIVE ROUND IMAGE -->

            <div class="container">
                <img
                    class="round image-responsive image-size-50"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?force=true"
                    alt="image-3"
                />

                <img
                    class="round image-responsive image-size-25"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?force=true"
                    alt="image-4"
                />
            </div>
        </section>
    </body>
</html>
