.grid {
  display: grid;
  gap: 1rem;
}

.grid-col-2 {
  grid-template-columns: repeat(2, auto);
}

.grid-col-3 {
  grid-template-columns: repeat(3, auto);
}

.grid-col-4 {
  grid-template-columns: repeat(4, auto);
}

@media screen and (max-width: 600px) {
  .grid-col-3 {
    grid-template-columns: repeat(1, auto);
  }

  .grid-col-4 {
    grid-template-columns: repeat(1, auto);
  }
}
