<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CandelCSS Card Component</title>
        <link rel="stylesheet" href="/assets/css/components.css" />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- CARD -->

        <section>
            <div class="cards-grid">
                <div class="cards-combined">
                    <!-- CARD WITH HEADER ONLY -->

                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-bold">Tony</h2>
                            <small class="text-muted">Author</small>
                        </div>
                    </div>

                    <!-- CARD WITH HEADER AND BODY -->

                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-bold">Tony</h2>
                            <small class="text-muted">Author</small>
                        </div>

                        <div class="card-body">
                            <small class="text-muted"
                                >Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Alias, corrupti!</small
                            >
                        </div>
                    </div>
                </div>

                <!-- CARD WITH IMAGE ONLY -->

                <div class="card">
                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />
                </div>

                <!-- CARD WITH HEADER AND IMAGE -->

                <div class="card">
                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />
                </div>

                <!-- CARD WITH IMAGE AND HEADER  -->

                <div class="card">
                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />

                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>
                </div>

                <!-- CARD WITH HEADER, IMAGE AND BODY   -->

                <div class="card">
                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>
                </div>

                <!-- CARD WITH IMAGE, HEADER AND BODY -->

                <div class="card">
                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />

                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>
                </div>

                <!-- CARD WITH HEADER, IMAGE, BODY AND FOOTER   -->

                <div class="card">
                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>

                <!-- CARD WITH IMAGE, HEADER, BODY AND FOOTER   -->

                <div class="card">
                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />

                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>

                <!-- CARD WITH IMAGE, HEADER, BODY, FOOTER AND BADGE   -->

                <div class="card">
                    <div class="badge-parent">
                        <img
                            class="image-responsive"
                            src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                            alt="Image of a food bowl"
                        />
                        <div class="badge primary badge-lg badge-top-right">
                            NEW
                        </div>
                    </div>

                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>

                <!-- CARD WITH IMAGE, HEADER, BODY, FOOTER AND BADGE PICTURE  -->

                <div class="card">
                    <div class="badge-parent">
                        <img
                            class="image-responsive"
                            src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                            alt="Image of a food bowl"
                        />
                        <div class="badge round badge-top-right">
                            <img
                                src="/assets/img/new-badge.png"
                                alt="Image of a NEW badge"
                                width="75rem"
                            />
                        </div>
                    </div>

                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>

                <!-- CARD WITH IMAGE, HEADER, BODY. FOOTER AND DISMISS   -->

                <div class="card">
                    <div class="card-menubar">
                        <button class="btn btn-danger">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />

                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>

                <!-- CARD WITH TEXT OVERLAY  -->

                <div class="card">
                    <div class="card-relative">
                        <img
                            class="image-responsive"
                            src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                            alt="Image of a food bowl"
                        />

                        <div class="card-header card-text-overlay">
                            <h2 class="text-bold">Tony</h2>
                            <small class="text-muted">Author</small>
                        </div>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti!</small
                        >
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>

            <!-- HORIZONTAL CARD WITH IMAGE AND BODY -->

            <div class="card card-horizontal">
                <div class="card-left-content">
                    <img
                        class="image-responsive"
                        src="https://unsplash.com/photos/kcA-c3f_3FE/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Zm9vZHx8MHwyfHx8MTY0MzEzMDk5OA&force=true&w=640"
                        alt="Image of a food bowl"
                    />
                </div>

                <div class="card-right-content">
                    <div class="card-header">
                        <h2 class="text-bold">Tony</h2>
                        <small class="text-muted">Author</small>
                    </div>

                    <div class="card-body">
                        <small class="text-muted"
                            >Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Alias, corrupti! Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Alias,
                            corrupti!</small
                        >
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
