.card {
    background-color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: var(--dark-color);
    max-height: 50rem;
    max-width: 25rem;
    /* overflow: auto; To avoid collapsing margins */
}

.card-header,
.card-body,
.card-footer {
    margin: 1rem;
}

.card-text-overlay {
    position: absolute;
    top: 0;
}

.card-horizontal {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 40rem;
}

.card-left-content {
    max-width: 40%;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card.card-horizontal {
    max-height: 75rem;
}

.card-stretched {
    align-items: unset;
    justify-content: unset;
    max-width: 80%;
}

.card-stretched .card-left-content {
    max-width: 15%;
}

.card-stretched .card-right-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-menubar {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin: 1rem 0;
    padding: 0 1rem;
}

@media screen and (max-width: 900px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .card-stretched .card-left-content {
        max-width: 40%;
    }

    .card-stretched .card-right-content {
        justify-content: unset;
        align-items: unset;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .card-stretched {
        max-width: 40rem;
    }
}

@media screen and (max-width: 450px) {
    .card-horizontal,
    .card-stretched {
        flex-wrap: wrap;
        max-width: 25rem;
    }

    .card-left-content,
    .card-right-content,
    .card-stretched .card-left-content {
        max-width: 100%;
    }
}
