.form-element {
    display: inline-block;
    margin: 1rem;
    position: relative;
}

label,
input {
    display: block;
    margin: 1rem 0;
}

input {
    font-size: large;
    padding: 5px;
    width: 25rem;
}

.floating-label {
    background-color: white;
    font-size: small;
    font-weight: bold;
    left: 5%;
    padding: 0 5px;
    position: absolute;
    top: -15%;
}

.input-inline-block {
    display: inline-block;
}

.input-border-danger {
    border-color: var(--danger-color);
}
