<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CandelCSS Button Component</title>
        <link rel="stylesheet" href="/assets/css/components.css" />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- BUTTON -->

        <section>
            <h1>BUTTON</h1>

            <!-- MAIN BUTTON -->

            <div class="container">
                <button class="btn">Default</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-light">Light</button>
                <button class="btn btn-dark">Dark</button>
            </div>

            <!-- LINK BUTTON -->

            <div class="container">
                <a class="btn btn-link" href="">Link</a>
            </div>

            <!-- ICON BUTTON -->

            <div class="container">
                <button class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>

            <!-- FLOATING ACTION BUTTON -->

            <div class="container">
                <button class="btn round btn-primary">
                    <i class="fas fa-plus"></i>
                </button>

                <button class="btn round btn-secondary">
                    <i class="fas fa-directions"></i>
                </button>
            </div>
        </section>
    </body>
</html>
