<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CandelCSS Avatar Component</title>
        <link rel="stylesheet" href="/assets/css/components.css" />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- AVATAR -->

        <section>
            <h1>AVATAR</h1>

            <div class="container">
                <img
                    class="avatar"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-1"
                />

                <img
                    class="avatar round"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-2"
                />
            </div>

            <div class="container">
                <img
                    class="avatar sm"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-1"
                />

                <img
                    class="avatar md"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-2"
                />
                <img
                    class="avatar lg"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-3"
                />
            </div>

            <div class="container">
                <img
                    class="avatar sm round"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-1"
                />

                <img
                    class="avatar md round"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-2"
                />
                <img
                    class="avatar lg round"
                    src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                    alt="avatar-3"
                />
            </div>
        </section>
    </body>
</html>
