/* SIZES */

.sm {
  width: 5rem;
}

.md {
  width: 7.5rem;
}

.lg {
  width: 10rem;
}

/* ---------------------------------------------------------------------------------------------------- */

/* SHAPES */

.square {
  border-radius: 5px;
}

.round {
  border-radius: 50%;
}

/* ---------------------------------------------------------------------------------------------------- */
