.list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.list-horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.list-vertical {
  flex-direction: column;
  flex-wrap: nowrap;
}
