.navigation {
    border: 2px solid black;
    border-radius: 5px;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 6rem;
}

.brand-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 1rem;
}

.brand-name {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 80%);
    font-family: "Italianno", cursive;
    font-size: 5rem;
    font-weight: bold;
    padding: 0.5rem;
    text-transform: none;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-menu {
    margin: 1.5rem;
}
