@import url('/assets/css/reset.css');
@import url('/assets/css/styles-default.css');

@import url('/Components/Alert/alert.css');
@import url('/Components/Avatar/avatar.css');
@import url('/Components/Badge/badge.css');
@import url('/Components/Button/button.css');
@import url('/Components/Card/card.css');
@import url('/Components/Image/image.css');
@import url('/Components/Input/input.css');

section {
    margin: 1rem;
}

.container {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 0.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
}

.margin-1 {
    margin: 1rem;
}

.margin-2 {
    margin: 2rem;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.text-muted {
    color: var(--muted-color);
}

.text-bold {
    font-weight: bold;
}

.icon {
    font-size: 2.5rem;
}

.icon-sm {
    font-size: 2rem;
}

.icon-md {
    font-size: 2.5rem;
}

.icon-lg {
    font-size: 3rem;
}

.sm {
    width: 3rem;
}

.md {
    width: 4.5rem;
}

.lg {
    width: 6rem;
}

.square {
    border-radius: 5px;
}

.round {
    border-radius: 50%;
}

.primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.success {
    background-color: var(--success-color);
    color: var(--light-color);
}

.danger {
    background-color: var(--danger-color);
    color: var(--light-color);
}

.warning {
    background-color: var(--warning-color);
    color: var(--dark-color);
}

.info {
    background-color: var(--info-color);
    color: var(--light-color);
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.primary-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.secondary-outline {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.success-outline {
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

.danger-outline {
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}

.warning-outline {
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
}

.info-outline {
    border: 1px solid var(--info-color);
    color: var(--info-color);
}

.light-outline {
    border: 1px solid var(--light-color);
    color: var(--muted-color);
}

.dark-outline {
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}
