@import url('/assets/css/styles-default.css');

@import url('/Components/Alert/alert.css');
@import url('/Components/Avatar/avatar.css');
@import url('/Components/Badge/badge.css');
@import url('/Components/Button/button.css');
@import url('/Components/Card/card.css');
@import url('/Components/Image/image.css');
@import url('/Components/Input/input.css');
@import url('/Components/Modal/modal.css');
@import url('/Components/Toast/toast.css');

section {
    margin: 3rem 1rem;
}

.container {
    background-color: var(--light-hover);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 3rem 0;
    max-width: 70%;
    padding: 2rem;
}

.relative {
    display: inline-block;
    position: relative;
}

.absolute {
    position: absolute;
}

.margin-1 {
    margin: 1rem;
}

.margin-2 {
    margin: 2rem;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.text-muted {
    color: var(--muted-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.sm {
    width: 5rem;
}

.md {
    width: 7.5rem;
}

.lg {
    width: 10rem;
}

.square {
    border-radius: 5px;
}

.round {
    border-radius: 50%;
}

.primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.success {
    background-color: var(--success-color);
    color: var(--light-color);
}

.danger {
    background-color: var(--danger-color);
    color: var(--light-color);
}

.warning {
    background-color: var(--warning-color);
    color: var(--dark-color);
}

.info {
    background-color: var(--info-color);
    color: var(--light-color);
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.primary-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.secondary-outline {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.success-outline {
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

.danger-outline {
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}

.warning-outline {
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
}

.info-outline {
    border: 1px solid var(--info-color);
    color: var(--info-color);
}

.light-outline {
    border: 1px solid var(--light-color);
    color: var(--muted-color);
}

.dark-outline {
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}
