@import url('/assets/css/reset.css');
@import url('/assets/css/styles-default.css');
@import url('/assets/css/styles-common.css');

@import url('/assets/css/components.css');

.main-container {
    grid-template-areas:
        'header header header header header'
        'main main main main main'
        'main main main main main'
        'main main main main main'
        'footer footer footer footer footer';
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1.5fr) 1fr;
    max-height: 100vh;
}

.hero-title {
    font-size: 5rem;
    text-align: center;
}

.hero-subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 40%;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 1024px) {
    .main-container {
        grid-template-rows: 0.5fr repeat(3, 1fr) 1fr;
    }

    header {
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        grid-template-rows: 0.5fr repeat(3, 0.7fr) 1fr;
        max-height: unset;
    }

    header {
        align-items: center;
        justify-content: center;
    }
}
