@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap');

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Nunito Sans', sans-serif;
}

.dark-theme {
    background-color: var(--dark-color);
    color: var(--light-color);
}

:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --success-color: #198754;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #0dcaf0;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --muted-color: #6c757d;

    --primary-hover: #0b5ed7;
    --secondary-hover: #5c636a;
    --success-hover: #157347;
    --danger-hover: #bb2d3b;
    --warning-hover: #ffca2c;
    --info-hover: #31d2f2;
    --light-hover: #f9fafb;
    --dark-hover: #1c1f23;
}
