<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CandelCSS Badge Component</title>
        <link rel="stylesheet" href="/assets/css/components.css" />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- BADGE -->

        <section>
            <h1>BADGE</h1>

            <!-- BADGE ON ICON -->

            <div class="container">
                <div class="badge-parent">
                    <span>
                        <i class="fas fa-envelope icon icon-sm"></i>
                    </span>
                    <div class="badge primary badge-sm badge-top-right">10</div>
                </div>

                <div class="badge-parent">
                    <span>
                        <i class="fas fa-envelope icon icon-md"></i>
                    </span>
                    <div class="badge secondary badge-sm badge-top-right">
                        10
                    </div>
                </div>

                <div class="badge-parent">
                    <span>
                        <i class="fas fa-envelope icon icon-lg"></i>
                    </span>
                    <div class="badge warning badge-sm badge-top-right">10</div>
                </div>
            </div>

            <div class="container">
                <div class="badge-parent">
                    <span>
                        <i class="fas fa-envelope icon icon-sm"></i>
                    </span>
                    <div class="badge round primary badge-sm badge-top-right">
                        10
                    </div>
                </div>

                <div class="badge-parent">
                    <span>
                        <i class="fas fa-envelope icon icon-md"></i>
                    </span>
                    <div class="badge round secondary badge-sm badge-top-right">
                        10
                    </div>
                </div>

                <div class="badge-parent">
                    <span>
                        <i class="fas fa-envelope icon icon-lg"></i>
                    </span>
                    <div class="badge round warning badge-sm badge-top-right">
                        10
                    </div>
                </div>
            </div>

            <!-- BADGE ON AVATAR -->

            <div class="container">
                <div class="badge-parent">
                    <img
                        class="avatar sm"
                        src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                        alt="avatar-1"
                    />
                    <div class="badge primary badge-sm badge-top-right">10</div>
                </div>

                <div class="badge-parent">
                    <img
                        class="avatar md"
                        src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                        alt="avatar-2"
                    />
                    <div class="badge secondary badge-md badge-top-right">
                        10
                    </div>
                </div>

                <div class="badge-parent">
                    <img
                        class="avatar lg"
                        src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                        alt="avatar-3"
                    />
                    <div class="badge warning badge-lg badge-top-right">10</div>
                </div>
            </div>

            <div class="container">
                <div class="badge-parent">
                    <img
                        class="avatar round sm"
                        src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                        alt="avatar-1"
                    />
                    <div
                        class="badge round badge-offline badge-sm badge-bottom-right"
                    ></div>
                </div>

                <div class="badge-parent">
                    <img
                        class="avatar round md"
                        src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                        alt="avatar-2"
                    />
                    <div
                        class="badge round badge-busy badge-md badge-bottom-right"
                    ></div>
                </div>

                <div class="badge-parent">
                    <img
                        class="avatar round lg"
                        src="https://unsplash.com/photos/nKZuhvCGGQU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8ZmFjZXx8MHwyfHx8MTY0MzI3Njg2Mg&force=true&w=640"
                        alt="avatar-3"
                    />
                    <div
                        class="badge round badge-online badge-lg badge-bottom-right"
                    ></div>
                </div>
            </div>
        </section>
    </body>
</html>
